# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Packaging output
/.release/
*.zip
*.7z

# VS Code.
.vscode/

/Libs/

# Claude.
CLAUDE.md
/docs/
/Scripts/
.claude/settings.local.json
.superpowers/

todo.txt
Modules/_Test.lua
